<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load staticfiles %}

<div class = "alert alert-info">
    <div class="formset">
        <strong>{{ header }}</strong>
        <br>
        <br>
        <button type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-plus"></span> Add New {{ item }}
        </button>
        <br/>
        <br/>
        {% if helper %}
            {% crispy formset helper %}
        {% else %}
            {{ formset|crispy }}
        {% endif %}
    </div>

</div>