<html><head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>LTI</title>
    </head>
    <body>
        <form id="lti-6d5136ce15d24ff8a3051380678b58ab" action="http://127.0.0.1:8888/perspectivesX/LTI/" method="post" enctype="application/x-www-form-urlencoded" style="display:none;">

                <input name="custom_component_display_name" value="XBlock LTI Test">
                <input name="lti_version" value="LTI-1p0">
                <input name="oauth_nonce" value="173164831866740263851500526817">
                <input name="resource_link_id" value="edge.edx.org-6d5136ce15d24ff8a3051380678b58ab">
                <input name="context_id" value="course-v1:UQx+UQx002+2015August">
                <input name="oauth_signature_method" value="HMAC-SHA1">
                <input name="oauth_version" value="1.0">
                <input name="oauth_signature" value="n4ZHXHmIeIKuXvVoVQQutlDyEtA=">
                <input name="lti_message_type" value="basic-lti-launch-request">
                <input name="launch_presentation_return_url" value="">
                <input name="user_id" value="a0d05d435d1a7bbf1e90f99400750bc5dddeee">
                <input name="roles" value="Instructor">
                <input name="oauth_consumer_key" value="perspectivesxlti">
                <input name="lis_result_sourcedid" value="course-v1%3AUQx%2BUQx002%2B2015August:edge.edx.org-6d5136ce15d24ff8a3051380678b58ab:a0d05d435d1a7bbf1e90f99400750bc5">
                <input name="launch_presentation_locale" value="en">
                <input name="oauth_timestamp" value="1500526817 ">
                <input name="oauth_callback" value="about:blank">
                <input name="custom_activity_id" value="1">
            <input type="submit" value="Press to Launch">
        </form>
        <script type="text/javascript">
            (function (d) {
                var element = d.getElementById("lti-6d5136ce15d24ff8a3051380678b58ab");
                if (element) {
                    element.submit();
                }
            }(document));
        </script></body></html>
